/* Text-align */

.ta-left {
    text-align: left;
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}

/* Float */

.flt-left {
    float: left;
}

.flt-right {
    float: right;
}