/* Color */

.color-blue {
    color: blue;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.color-orange {
    color: orange;
}

.color-purple {
    color: purple;
}

.color-yellow {
    color: yellow;
}

.color-l-blue {
    color: lightblue;
}

.color-l-red {
    color: tomato;
}

.color-l-green {
    color: lightgreen;
}

.color-pink {
    color: pink;
}

.color-gray {
    color: gray;
}

.color-l-gray {
    color: lightgray;
}

.color-grey {
    color: grey;
}

.color-l-grey {
    color: lightgrey;
}

.color-white {
    color: white;
}